@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'poppins',sans-serif;
  box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg,#153677,#0acbce);
    padding: 10px;
}
.todo{
    max-width: 540px;
    background-color: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px; 
}
.todo h2{
    color: #04276b;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.todo p{
    color: rgb(135, 133, 133);
    margin-top: 20px;
}
.row  {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-top: 25px;
}
input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    text-align: center;
}
button{
    border: none;
    outline: none;
    background: -webkit-linear-gradient(
        right,
        #003366,
        #004080,
        #0059b3,
        #0073e6
      );
    font-size: 20px;
    color: #fff;
    padding: 16px 50px;
    border-radius: 40px;
    cursor: pointer;
}
ul li{
    margin-top: 20px;
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}
ul li::before{
    content: '';
    position: absolute;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-image: url(png/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}
ul li.checked{
    color: rgb(135, 133, 133);
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url(png/checked.png);
}
ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 25px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
ul li span:hover{
    background: #edeef0;
}



/* media section */
@media only screen and (max-width: 480px) {
    body{
        font-size: 15px;
        padding: 0;
        margin: 0;
        height: 100vh;
        width:100%;
    }
    .todo{
        max-width: 350px;
    }
    button{
        font-size: 10px;
         padding:13px 35px;
    }

    .row{
         display:flex;
          justify-content: space-around;
        }
    ul li{
        font-size: 13px;
    }
    
}

@media only screen and (max-width: 290px){
 
    button{
        padding: 10px 30px;
       margin-right: 25px;
       font-size: 10px;
   } 
   input{
       padding: 7px;
   }
   .todo{
       max-width: 240px;
   }
   
   input{
       text-align: center;
       max-width: 100px;
   }
   input::placeholder{
    text-align: center; 
    font-size: 10px;
  }

}
